<div class="w-64 h-5 mb-5 overflow-hidden bg-gray-300 rounded-md shadow-inner" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="<%= search_progress %>" aria-labelledby="pblabel">
  <div id="pb" class="float-left h-full text-white text-center bg-accent transition-width duration-2000" style="width: <%= search_progress %>%"></div>
</div>
