<!DOCTYPE html>
<html data-theme="nord" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libus - Main</title>
    <%= stylesheet_tag "main/app" %>
  </head>
  <body>
    <div class="container mx-auto px-4">
      <%= yield %>
      <%= javascript_tag "main/app" %>
    </div>

  </body>
</html>
