<article class="prose prose-slate">
  <h4>Free system for tracking your library, publishing it to borrow or gloat and get some clout</h4>
  <p class="font-bold">
    It is free until you do not abuse it (and you will not, right?). Too big databases with too much traction will be charged to prevent abuse.
  </p>
  <p class="italic">
    If you are honest, we are nice!
  </p>
</article>
