<div class="bg-base-300 hero" id="hero-auth">
  <div class="hero-content flex-col lg:flex-row">
    <%= image_tag('seshat.png', class: 'h-96') %>
    <div>
      <h1 class="text-5xl font-bold">Libus - Library System</h1>
      <article class="mb-3.5 prose lg:prose-xl"><p>Tired of losing track of your books? Where are they? Which shelf, rack, who borrowed them and when and where did you write it down? Join the free Libus system and get a hold of it!</p></article>
      <button class="btn btn-primary" hx-get="/register" hx-swap="outerHTML" hx-target="#hero-auth">Register</button>
      <button class="btn btn-accent" hx-get="/read_more" hx-swap="outerHTML">Read More</button>
    </div>
  </div>
</div>

<div class="py-6 bg-secondary flex justify-center gap-28">
  <%= image_tag('lib1.png', class: 'mask mask-hexagon-2 h-80 w-80') %>
  <div class="divider divider-primary divider-horizontal"></div>
  <%= image_tag('lib2.png', class: 'mask mask-circle h-80 w-80') %>
  <div class="divider divider-primary divider-horizontal"></div>
  <%= image_tag('lib3.png', class: 'mask mask-decagon h-80 w-80') %>
</div>

<div class="bg-base-100 hero" id="hero-loader">
  <div class="hero-content flex-col lg:flex-row">
    <form hx-target="this" hx-swap="outerHTML" hx-get="/search/isbn">
      <input type="text" name="isbn" placeholder="ISBN" class="input input-bordered input-primary w-full max-w-xs" />
      <div hx-target="this" hx-swap="outerHTML">
        <h3>Start Progress</h3>
        <button class="btn btn-primary" type="submit">Search for the book</button>
      </div>
    </form>
  </div>
</div>
